---
title: about | portfolio
permalink: "/about/"
---

{% extends 'layout/base.njk' %}

{% block metaTitle%}
  about | portfolio
{% endblock %}

{% block barbaNamespace %}about{% endblock %}

{% block content %}
  <section class="h-screen flex flex-col justify-center items-center px-7">
    <h1 class="inline-block text-9xl text-white">About me</h1>
  </section>
{% endblock %}
