---
title: contact | portfolio
permalink: "/contact/"
---

{% extends 'layout/base.njk' %}

{% block metaTitle%}
  contact | portfolio
{% endblock %}

{% block barbaNamespace %}contact{% endblock %}

{% block content %}
  <section class="h-screen flex flex-col justify-center items-center px-7">
    <h1 class="inline-block text-9xl text-white">Contact</h1>
  </section>
{% endblock %}
