---
permalink: "/"
---

{% extends 'layout/base.njk' %}

{% block metaTitle %}
  index | portfolio
{% endblock %}

{% block barbaNamespace %}home{% endblock %}

{% block content %}
  {% include "components/_hero.njk" %}
  {% include "components/_projects.njk" %}
{% endblock %}
