<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block metaTitle %}{% endblock %}</title>
  <link rel="stylesheet" href="/style.css" />
  <script src="/js/alpine.js?v={% version %}"></script>
</head>
<body data-barba="wrapper">
  {% include "partials/_header.njk" %}
  <main class="bg-dark" data-barba="container" data-barba-namespace="{% block barbaNamespace %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/_footer.njk" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/@barba/core"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>